.legs{
    position: relative;
    margin: 0 auto;
    width:200px;
    height:220px;
    border-radius: 50px;
}
.left_leg{
   position: absolute;
   width:50px;
    height: 100%;
    left:30px;
}
.right_leg{
   position: absolute;
    width:50px;
    height: 100%;
    right:30px;
    border-radius: 50px;
}

/*Части левой ноги*/
.left_leg__up{
    position: relative;
    width:100%;
    height: 50%;
    background: #000;
    background: linear-gradient(to right,#4F7086,#000 50%);
}
.left_leg__down{
    position: relative;
    width:100%;
    height: 50%;
    background: #000;
    background: linear-gradient(to right,#4F7086,#000 50%);
    border-radius: 0 0 50px 50px;
}
/*Части правой ноги*/
.right_leg__up{
    position: relative;
    width:100%;
    height: 50%;
    background: #000;
    background: linear-gradient(to left,#4F7086,#000 50%);
}
.right_leg__down{
    position: relative;
    width:100%;
    height: 50%;
    background: #000;
    background: linear-gradient(to left,#4F7086,#000 50%);
    border-radius: 0 0 50px 50px;
}